.burger{
    display: inline-block;
    width: 18px;
    height: 14px;
    border-bottom: 2px solid map-get($colors, white);
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        background:map-get($colors, white);
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        content: '';
        background:map-get($colors, white);
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 6px;
        left: 0px;
    }
}