.burger{
    display: inline-block;
    width: 18px;
    height: 14px;
    border-bottom: 2px solid map-get($colors, white);
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        background:map-get($colors, white);
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    &::before {
        content: '';
        background:map-get($colors, white);
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        top: 6px;
        left: 0px;
    }
}
.logo-page{
    display: flex;
    align-items: start;
    gap: 1px;

    @include media-tablet-sm{
        align-items: center;
    }
}
.logo-page__wrapper{
    display: flex;

    @include media-tablet-sm{
    margin-top: 20px;
    margin-left: -75px;
    }
}
.logo-page__title{
    @include h;
    color: map-get($colors, white);
    font-weight: 400;

    
    @include media-tablet-sm{
      @include H4;
    }
}