.switcher{
    position: relative;
    display: flex;
    align-items: center;

    @include media-tablet-m{
        position: absolute;
        left: 8%;
    }
}
.switcher__caption{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 6px;
    border-radius: 8px;
    color: map-get($colors, white);
}
.switcher__input{
    -webkit-appearance: none;
}
.switcher__input:checked ~.switcher__caption{
    background-color: map-get($colors, Accent);
}