.hero{
    padding-top: 50px;
    min-height: 100vh;
    background-image: map-get($colors, Gradient-soft);
    background-size: cover;
    background-position: center;
    @include flex-column;
    justify-content: space-between;

    @include media-tablet-m{
        padding-top: 20px;
    }
}
.burger{
    display: none;

    @include media-tablet-m{
        display: block;
    }
}
.hero__content{ 
    position: relative;
    @include flex-column;
    justify-content: center;
    background-image:linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%),url("../../img/Symbol-P.svg"),url("../../img/frame.svg");
    background-size: 100% 200px, auto, auto;
    background-repeat: no-repeat;
    background-position: bottom;

    @include media-mobile{
        background-image:linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%),url("../../img/Symbol-P.svg");
        background-size: 100% 200px,  auto;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
.hero__title{
    color: map-get($colors, white);
    @include h;
    text-transform: lowercase;
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    @include flex-column;

    @include media-tablet-sm{
        width: 49%;
    }
    @include media-mobile{
        width: 80%
    }
}
.hero-header{  
    @include flex-between;
}
.hero-header--page-services{
    margin-bottom: 75px;

 @include media-tablet-sm{
     margin-bottom: 20px;
 }
 
}
.logo-img{
    width: 155px;

    @include media-tablet-sm{
        width: 50%;
        margin-top: 20px;
    }

}
.logo-img__slash{

    @include media-tablet-sm{
        width: 11px;
        height: 23px;
    }
}
.logo-img__p-small{

    @include media-tablet-sm{
        width: 21px;
        height: 24px;
    }
}

.hero__img{
    padding: 12px;
    border: 1px solid rgba(255,255,255, .5);
    border-radius: 50%;
    margin-bottom: 20px;
}
.button {
    text-align: center;
}

.header__content{
    display: flex;
    gap: 20px;
    align-items: baseline;
}
.wrapper{
    @include flex-column;
    gap: 19px; 

    @include media-tablet-m{
        align-items: flex-end;
    }
}