@font-face {
    font-family: TTNorms;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("../font/woff2/TTNorms-Bold.woff2") format("woff2");
}
@font-face {
    font-family: TTNorms;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../font/woff2/TTNorms-Medium.woff2") format("woff2");
}
@font-face {
    font-family: TTNorms;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../font/woff2/TTNorms-Regular.woff2") format("woff2");
}